body {
    background: url("bg.svg");
    background-repeat: no-repeat;
    background-size: 1280px 1024px;
}
.ui-coverflow-wrapper{
    height:400px;
    margin-top: 350px;
}
.ui-state-active{
    border:0px;
}