body {
    background-image: url("bg.svg"), linear-gradient(to right,  #0070AD 57%,#12ABDB 57%);
    background-color:  #0070AD;
    background-repeat: no-repeat;
    background-position: right top; 
    background-size: cover;
    margin: 0px;
}
canvas {
    margin: 0 auto;
}
.ui-coverflow-wrapper{
    height:400px;
    margin-top: 350px;
}
.ui-state-active{
    border:0px;
}
.d-none {
    display: none;
}
.keyScreen {
    height: 100%;
    width: 100%;
    background-color: #0070AD;
    position: absolute;
    text-align: center;
}
